version: '3.9'
services:
  api:
    build:
      context: ../../
      dockerfile: infra/docker/api.Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    depends_on:
      - db

  frontend:
    build:
      context: ../../apps/frontend
      dockerfile: ../../infra/docker/frontend.Dockerfile
    ports:
      - "5173:5173"

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
